 /*Master styles */
 *{ 
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px; 
}
html{
    position:relative;
    min-height:100%;    
  }
body{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-image:url(images/plain.jpg);
      background-position:center;
      background-repeat: no-repeat;
      background-size: cover;    
  }
.logo{
        float: left;
        height: 66px;
        margin-left: 2em;
        cursor: pointer; 
    }
.navbar ul {
        float: right;
        margin:0px;
        padding:0px;
        list-style-type: none;
    }
.toggle{
     display: none;
    }
.checkbtn, #check{
    display: none;
    }
.logo-text{
    font-size: 2.5em;
    margin: 10px;
    margin-left:60px;
    color: rgb(91,43,43);      
    }
.logo-text > span{
    color: rgb(131, 29, 29);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.page-header h3{
    margin:40px;
    margin-left:90px;
}
.navbar ul li{
    float: left;
    position: relative;     
}
.navbar ul li a{
    display: block;
    margin-left:24px;
    margin-top:15px;
    margin-right:24px;
    font-size:1.4em;
    text-decoration: none;
    color: rgb(94, 43, 43); 
    border-bottom: 1px transparent;   
}
.navbar ul li ul li{
    width:100%;
}
.navbar ul li ul li .logout:hover{
    color: red;
}     
.navbar ul li a:hover{
    border-bottom: 1px solid rgb(238, 80, 80);
    color: rgb(238, 80, 80);
    transition: 1s;
}
.navbar ul li ul{
    position: absolute;
    top:30px;
    right:0px;
    display:none;
}
.navbar ul li:hover ul{
    display:block;
}
.navbar ul li .options:hover{
    border-bottom: 1px transparent;  
    color: rgb(94, 43, 43); 

}
.navbar ul li a .drop{
    font-size:0.8em;
}
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
.btn{
    padding:0.5px;
    background: rgb(110, 110, 131);
    color:white;
}

/* index page styling */
.error{
    color:red;
}
.blog-wrapper{
    width:90%;
    margin: 30px auto 30px;
}
.each-wrapper{
    width:60%;
    float: left;
    margin:10px;
    border-radius:5px;  
}
.each-wrapper img, .Rone-wrapper img{
    width:300px;
    height:300px;
    float:left;
    padding:20px;
}
.title-wrapper, .body-wrapper, .author-wrapper, .category-wrapper{
    color:rgb(68, 48, 32);
    font-size: 16px;
}
/*.each-wrapper{
    max-width : 500px;
    max-height: 800px;
    margin : 20px;
    margin-left: 200px;
    padding: 10px;
    box-sizing :border-box;
    border-radius: 15px;   
}*/

/* api pages styling */
.create-wrapper, .update-wrapper{
    max-width : 600px;
    max-height: 1000px;
    padding: 5px;
    margin:auto;
    margin-bottom:70px;
    box-sizing :border-box;
    box-shadow : 0 15px 25px rgba(10, 51, 51, 0.6);
    border-radius:20px;
}
.register-wrapper, .login-wrapper{
    max-width : 400px;
    max-height: 1000px;
    padding: 5px;
    margin:auto;
    margin-bottom:70px;
    box-sizing :border-box;
    box-shadow : 0 15px 25px rgba(10, 51, 51, 0.6);
    border-radius:20px;
}
.text-wrapper{
    color: rgb(97, 41, 41); 
}
.read-redirec, .update-redirec{
    background-color:  rgb(27, 111, 133);;
    border:none;
    margin-left: 50px;
    text-decoration: none;
} 
.read-redirec:hover, .update-redirec:hover{
    background-color:  rgb(53, 98, 109);
}
.read-redirec a, .update-redirec a{
    color: white;
} 
.read-redirec a:hover, .update-redirec a:hover{
    color: rgba(255, 255, 255, 0.288);
    text-decoration: none;
}
div #edit_popup{
    display:none;
    border:1px solid rgb(77, 77, 90);
    width:70%;
    height:50px;
}
.Rone-wrapper{
    max-width : 600px;
    max-height: 1000px;
    padding: 3px;
    margin:auto;
    margin-bottom:70px;
    box-sizing :border-box;
    box-shadow : 0 15px 25px rgba(10, 51, 51, 0.6);
    border-radius:5px;
} 
.Rone-wrapper h3{
    color: rgb(94, 42, 42); 
    font-family: cursive;
}  
.Rone-wrapper p{
    color: rgb(70, 24, 39); 
}
.delete-noti{
    font-size: 20;
}  
/*user styles*/
.login-redirec, .register-redirec{
    text-align: center;
}
.page-header h3{
    margin:40px;
    margin-left:95px;
    margin-top:75px;
} 
/*search box styles*/
.search-wrapper{
    float:right;
}
.search-box{
    position: relative;
    top:70px; 
    left: 20%;   
    transform: translate(-50%,-50%);
    background: rgb(98, 98, 133);;
    height:40px;
    border-radius:20px;
    padding:10px;  
}
.search-btn{
    color:rgb(98, 98, 133);
    float:right;
    width:20px;
    height:20px;
    border-radius:50%;
    background:rgb(98, 98, 133);
    display:flex;
    justify-content: center;
    align-items:center;
}
.search-text{
    border:none;
    background:none;
    outline:none;
    float:left;
    padding:0px;
    color:white;
    transition: 0.4s;
    width:240px;
}
::placeholder{
    color:white;
}
/*password recovery styling*/
.forgotpass{
    text-align: center;
}
.forgotpass a, .register-redirec a{
    color:rgb(40, 43, 206);
}
/* reset password styling */
.reset-wrapper h3, .passreset-wrapper h3{
    text-align:center;
}
.reset-wrapper-inner, .passreset-wrapper-inner{
    max-width : 400px;
    max-height: 1000px;
    padding: 3px;
    margin:auto;
    box-sizing :border-box;
    box-shadow : 0 15px 25px rgba(10, 51, 51, 0.6);
    border-radius:5px;
}
.reset-wrapper-inner button, .passreset-wrapper-inner button{
    background: rgb(90, 179, 214);
    border-color: rgb(83, 181, 219);
}
/* footer design 
footer{
    background: rgb(98, 98, 133);
    padding:7px 0;
}*/
.footer-container{
    position: absolute;
    bottom:0;
    margin-left:40%;
    align-items: center;   
}
.social-media a{
    color: rgb(97,41,41); 
    margin-right: 55px;
}

/*MEDIA QUERIES*/
/* for tab */
@media only screen and (max-width:800px){
    .navbar{
        position: relative;
    }
    .navbar ul{
        position: absolute; 
        width:100%;
        background: rgb(54, 80, 105);
        top:50px;
        left:-100%;  
        text-align: center;  
        transition : all .5s;  
    }
    .navbar ul li{
        width:100%;
        padding: 0px;
        margin:0px;
        display:block;
    }
    .navbar ul li a{
        font-size:1.2em;
        padding: 2px;
        color: rgb(214, 185, 185); 
        text-decoration: none; 
    }
    .navbar ul li a:hover{
        color: rgb(128, 81, 81); 
        border-bottom: 1px transparent;  
    }
    .navbar ul li ul{
        position:static;
        display:none;
    }
    .navbar ul li:hover ul{
        display:block;
    }
    /*.navbar ul li ul li a{
        padding-right:170px;
    }*/
    .toggle, .checkbtn{
        display:block;
        position:fixed;
        right: 10px;
        top:15px;
        font-size:1.9em;
        cursor: pointer; 
    }
    #check:checked ~ul{
        left:0;
    }
    .logo{
        float: left;
        height: 66px;
        margin-left: 0.5em;
        cursor: pointer; 
    }
    .page-header h3{
        margin:40px;
        margin-left:64px;
    }
    .search-box{
        top:115px; 
        margin-left:95px;
    }
    .logo-text{
        margin-left:60px;    
        }

    .each-wrapper{
        width:60%;
        float: left;
        margin:15px;
        margin-bottom:30px;
        border-radius:5px;  
    }
     /* api pages styling */
    .create-wrapper, .update-wrapper, .register-wrapper, .login-wrapper, .reset-wrapper-inner, .passreset-wrapper-inner{
        max-width : 300px;
        max-height: 1000px;
        padding: 5px;
        margin:auto;
        box-sizing :border-box;
        box-shadow : 0 15px 25px rgba(10, 51, 51, 0.6);
        border-radius:20px;
}
/* footer design */
.footer-container{
    position: absolute;
    bottom:0;
    margin-left:30%;
    align-items: center;    
}
.social-media a{
    color: rgb(97, 41, 41); 
    margin-right: 55px;
}
    }

/*MEDIA QUERIES*/
/* for phones */
@media only screen and (max-width:480px){
    .navbar{
        position: relative;
    }
    .navbar ul{
        position: absolute; 
        width:100%;
        background: rgb(54,80,105);
        top:50px;
        left:-100%;  
        text-align: center;  
        transition : all .5s;  
    }
    .navbar ul li{
        width:100%;
        padding: 0px;
        margin:0px;
        display:block;
    }
    .navbar ul li a{
        font-size:1.2em;
        padding: 2px;
        color: rgb(214, 185, 185); 
        text-decoration: none; 
    }
    .navbar ul li a:hover{
        color: rgb(128, 81, 81); 
        border-bottom: 1px transparent;  
    }
    .navbar ul li ul{
        position:static;
        display:none;
    }
    .navbar ul li:hover ul{
        display:block;
    }
   
    .toggle, .checkbtn{
        display:block;
        position:fixed;
        right: 10px;
        top:15px;
        font-size:1.9em;
        cursor: pointer; 
    }
    #check:checked ~ul{
        left:0;
    }
    .logo{
        float: left;
        height: 66px;
        margin-left: 0.5em;
        cursor: pointer; 
    }
    .page-header h3{
        margin:40px;
        left: 200%;   
        margin-left:36px;
    }
    .search-box{
        top:150px; 
    }
    .search-btn{
        float:right;
        width:20px;
        height:20px;
        border-radius:50%;
        display:flex;
        justify-content: center;
        align-items:center;   
    }
    .logo-text{
        margin-left:28px;   
        }
    .each-wrapper img{
        width:300px;
        height:300px;
        float:left;
        padding:20px;
        padding-left:2px;
    }
    .Rone-wrapper img{
        width:350px;
        height:350px;
    }
     /* api pages styling */
    .create-wrapper, .update-wrapper, .register-wrapper, .login-wrapper, .reset-wrapper-inner, .passreset-wrapper-inner{
        max-width : 300px;
        max-height: 1000px;
        padding: 5px;
        margin:auto;
        box-sizing :border-box;
        box-shadow : 0 15px 25px rgba(10, 51, 51, 0.6);
        border-radius:20px;
}
/* footer design */
.footer-container{
    position: absolute;
    bottom:0;
    margin-left:20%;
    align-items: center;    
}
.social-media a{
    color: rgb(97,41,41);
    margin-right: 55px;
}
    }
