 /*Master styles */
 *{
    box-sizing: border-box;
  }
body{
      margin: 0px;
      padding: 0px; 
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-image:url(images/plain.jpg);
      background-size: cover;
     
  }
 
.logo{
    cursor: pointer; 
    float: left;
    height: inherit;
    margin-left: 2em;
}
.logo-text{
    margin: 10px;
    color: rgb(94, 43, 43);
}
.logo-text > span{
    color: rgb(131, 29, 29);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.toggle{
    display: none;
}

.menu > li > a{
    text-decoration: none;
}

.navbar ul {
    float: right;
    margin:0px;
    padding:0px;
    list-style-type: none;
}
header ul li{
    float: left;
    position: relative;
}

.navbar ul li a{
    display: block;
    font-size:1.2em;
    color: rgb(94, 43, 43);        
}
header ul li .list{
    margin-top:21px;
    margin-right: 21px;
    padding:0px;
    border-bottom: 1px transparent;
}
header ul li .list:hover{
    border-bottom: 1px solid rgb(238, 80, 80);
    transition: 1s;
}
.navbar ul li a:hover{
    color: rgb(238, 80, 80);
    transition: 1s;

}

header ul li:hover ul{
    display:block;
}
/* index page styling */
.each-wrapper{
    max-width : 500px;
    max-height: 800px;
    margin : 20px;
    margin-left: 200px;
    padding: 10px;
    box-sizing :border-box;
    border-radius: 15px;
    
}
/* create page styling */
.form-wrapper, .update-wrapper{
    max-width : 600px;
    max-height: 1200px;
    padding: 5px;
    margin:auto;
    box-sizing :border-box;
    box-shadow : 0 15px 25px rgba(10, 51, 51, 0.6);
    border-radius:5px;
}
.text-wrapper{
    color: rgb(94, 43, 43); 
}
.read-redirec, .update-redirec{
    background-color:  rgb(27, 111, 133);;
    border:none;
    margin-left: 50px;
    text-decoration: none;
} 
.read-redirec:hover, .update-redirec:hover{
    background-color:  rgb(53, 98, 109);
}
.read-redirec a, .update-redirec a{
    color: white;
} 
.read-redirec a:hover, .update-redirec a:hover{
    color: rgba(255, 255, 255, 0.288);
    text-decoration: none;
}
.Rone-wrapper{
    max-width : 600px;
    max-height: 1000px;
    padding: 3px;
    margin:auto;
    box-sizing :border-box;
    box-shadow : 0 15px 25px rgba(10, 51, 51, 0.6);
    border-radius:5px;
} 
.Rone-wrapper h3{
    color: rgb(43, 21, 21); 
    font-family: cursive;
}  
.Rone-wrapper p{
    color: rgb(238, 107, 107); 
}
 .delete-noti{
     font-size: 20;
 }   
